header {
  margin: 0 40px;
}
.container {
  width: 70%;
  margin: 0 auto;
}
footer {
  background-color: rgb(28, 71, 71);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  line-height: 0;
}
nav {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}
.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-name {
  background-color: aqua;
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 10px;
  padding: 0 0 0 24px;
}
.menu ul li a:hover {
  text-decoration: none;
  color: white;
  font-size: ;
}
.btn {
  background-color: aqua;
}
.btn-primary {
  background-color: white;
  color: blue;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.btn-primary:hover {
  background-color: purple;
  color: blue;
}
.btn-secondary {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
}
.btn-secondary:hover {
  background-color: gray;
  color: white;
}
.card {
  background-color: rgb(226, 197, 197);
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
}
.card img {
  width: 100%;
  border-radius: 20px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: aqua;
}
p {
  color: #ffffff;
}
.menu ul li a {
  text-decoration: none;
  color: rgb(235, 11, 11);
  font-size: 1.1rem;
}
